# ============================================================
# THUMALIEN - Configuration Template
# Copiez ce fichier en .env et remplissez vos vraies valeurs
# NE JAMAIS COMMITTER LE FICHIER .env
# ============================================================

# --- Bluesky API ---
BLUESKY_HANDLE=samuelsdv.bsky.social
BLUESKY_APP_PASSWORD=s36a-klas-skvd-5m5s

# --- PostgreSQL ---
DB_NAME=bluesky_db
DB_USER=bluesky_user_1
DB_PASSWORD=Samlemans2021.
DB_HOST=localhost
DB_PORT=5432

# --- Application ---
APP_ENV=development
LOG_LEVEL=INFO
